$primary-btn-background: #f9f9f9;
$primary-btn--text: #213547;
$secondary-btn-background: #102531;
$secondary-btn-text: #f9f9f9;
$btn-border: #d47559;
$correct: #28a745;
$incorrect: #dc3545;

button {
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid transparent;
    box-sizing: border-box;
    padding: 10px 15px;
    margin: 10px 5px;
    min-width: 100px;
    font-family: inherit;
    background-color: $primary-btn-background;
    cursor: pointer;

    &.primaryButton {
        // font-size: 20px;
        font-weight: 500;
    }

    &.secondaryBtn {
        background-color: $secondary-btn-background;
        color: $secondary-btn-text;
        font-weight: 500;
    }

    &.optionBtn {
        background-color: $secondary-btn-background;
        color: $secondary-btn-text;
        width: 200px;
        // *** how to make them all the same height?? (don't want item ones to be same height as ability ones though)

        //*** how to space the text and images apart a bit, and the images from each other??

        img {
            width: 64px;
            height: auto;
        }
    }

    &:hover {
        border-color: $btn-border;
        transition-duration: 0.25s;
    }
    
    &:focus,
    &:focus-visible {
        outline: 4px solid $btn-border;
    }
}

// After submitting answer, style the correct option green and the incorrect (selected) option red
div.inactive {
    button.correctOption {
        background-color: $correct;
    }

    button.incorrectOption {
        background-color: $incorrect;
    }
}

// Remove hover and focus effects from buttons in inactive divs
    // (options buttons and submit button after submitting answer)
div.inactive {
    & button {
        cursor: auto;

        &:hover {
            border: 2px solid transparent;
        }
        
        &:focus,
        &:focus-visible {
            outline: none;
        }
    }
}

