$primary-background: #0d202b;
$primary-text: hsla(0,0%,100%,.9);
$secondary-text: #579dd4;

$primary-btn-background: #f9f9f9;
$primary-btn--text: #213547;
$secondary-btn-background: #102531;
$secondary-btn-text: #f9f9f9;
$border: #d47559;

.startView {
    h2 {
        color: $secondary-text;
    }

    .secondaryBtn {
        background-color: $secondary-btn-background;
        color: $secondary-btn-text;
        font-size: 16px;
    }
}