// Variables
$primary-background: #0d202b;
$question-background: #213547;
$primary-text: hsla(0,0%,100%,.9);
$question-text: #213547;
$secondary-text: #579dd4;

// Import partials
@import "buttons";

// Style groupings
@mixin flex-column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

@mixin flex-row-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

@mixin heading-margins {
    margin-block: 0;
    margin-bottom: 20px;
}

@mixin grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
}

// Global styling
body {
    min-width: 320px;
}

.content {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    background-color: $primary-background;
    color: $primary-text;
    text-align: center;
    @include flex-column-container;
}

.view {
    box-sizing: border-box;
    width: 100vw;
    margin: auto 0;
    padding: 20px 0;
}

h1 {
    @include heading-margins;
    font-size: 50px;
    min-width: 320px;
}

h2 {
    @include heading-margins;
    font-size: 36px;
    color: $secondary-text;
    min-width: 320px;
}

h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 24px;
    min-width: 320px;
}

p {
    margin: 0;
}

// Additional styling for QuizStart view
.startView {
    .questionNumBtnsDiv {
        min-width: 320px;
    }

    .playBtnDiv {
        min-width: 320px;
    }
    
    .footer {
        @include flex-row-container;
        position: absolute;
        box-sizing: border-box;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 20px;
        gap: 10px;
        background-color: $question-background;

        a {
            color: $primary-text;
            @include flex-row-container;

            svg {
                align-self: center;
            }
        }
    }
}

// Additional styling for QuizQuestions view
.questionsView {
    @include flex-column-container;

    .progressBar {
        width: 90%;
        max-width: 640px;
        min-width: 280px;

        p {
            margin-bottom: 10px;
            text-align: left;
        }        
    }

    .questionBox {
        @include flex-column-container;
        background-color: $question-background;
        box-sizing: border-box;
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 90%;
        max-width: 640px;
        min-width: 280px;
    }

    .questionText {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        width: 90%;
    }

    .questionContent {
        margin-bottom: 10px;
        width: 90%;

        p {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 700;
        }

        .questionContentImgs {
            @include grid-container;
            gap: 20px;
            grid-template-columns: repeat(auto-fit, 64px);
            margin-bottom: 10px;

            img {
                width: 64px;
                height: auto;
            }
        }
    }

    .options {
        @include grid-container;
        grid-gap: 20px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 240px 240px;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 20px;
        padding: 0 20px;

        @media (max-width: 599px) {
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: 240px;
        }
    }

    .result {
        margin-top: 10px;
        width: 90%;
        max-width: 640px;
        min-width: 280px;

        .correctResult {
            font-size: 20px;
            font-weight: 500;
            color: $correct;
        }

        .incorrectResult {
            font-size: 20px;
            font-weight: 500;
            color: $incorrect;
        }

        .correctAnswer {
            margin: 10px 0;
        }
    }
}

// Additional styling for QuizEnd view
.endView {
    @include flex-column-container;

    h2 {
        margin-bottom: 10px;
    }

    .rank {
        margin-top: 10px;
        margin-bottom: 20px;

        img {
            width: 150px;
        }
    }
}